body {
    background-color: #fff1e5;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

#articles {
}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

h1,h2,h3,h4 {
    font-family: Constantia;
    font-weight: bold;
}

#outer {
    max-width: 1300px;
    margin-top: 2rem;
}


.row:nth-of-type(n+2) {
    border-top: solid 1px #e6d9ce;
}

.afterArticle {
    height: auto;
}

.dark {
    background-color: #F2DFCE;
}

.light  {
    background-color: #FFF7EF;
}

.col-sm-9 .dark .afterArticle {
    padding: 1rem 1.5rem 1.5rem 1.5rem;
}

.col-sm-3 .light .afterArticle {
    padding: 1rem;
}

.article_wrapper:nth-of-type(n+2) {
    border-top: solid 1px #e6d9ce;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    display: block;
}

.col-sm-4:nth-of-type(n+2),
.col-sm-8:nth-of-type(n+2),
.col-sm-3:nth-of-type(n+2) {
    border-left: solid 1px #e6d9ce;
}

#title {
    width: 100%;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    text-align: center;
    border-bottom: dotted 2px black;
}

.row {
    min-height: 5rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.row h2 {
    font-size: 32px;
}

.row h3 {
    font-size: 22px;
}

.row h4 {
    font-size: 22px;
}

.col-sm-8 .headlineImage,
.col-sm-9 .headlineImage {
    height: 60%;
}

.headlineImage {
    background-size: cover;
    width: auto;
    height: 10rem;
    background-position-y: 40%;
}

.article_wrapper {
    display: block;
    height: calc(100% - 1rem);
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

#articles .row .article {
    color: black;
}

#articles .row a {
    text-decoration: none;
}

#articles .row .sourceLink {
    color: #990f3d;
    text-decoration: none;
}

.description {
    text-align: justify;
    margin-bottom: 0.5rem;
}

#footer {
    border-top: dotted 2px black;
    width: 100%;
    height: 3rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
}