<!DOCTYPE html>
<html>
<head>
    <title>Nachrichten DE</title>
    <link rel="shortcut icon" href="/favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>


<div class="container" id="outer">
    <div class="container" id="title">
        <h1>Nachrichten</h1>
    </div>
    <div class="container" id="articles">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="article_wrapper dark vertical">
                        <div class="article singleArticle">
                            <div class="headlineImage"
                                 style="background-image: url(&quot;$article.img&quot;); background-position: 65% 67%;"></div>
                            <div class="afterArticle">
                                <h2>$article.renderHeadline()</h2>
                                <div class="description">$article.body</div>
                                #foreach( $link in $article.links )
                                    <a href="$link.url" class="sourceLink sourceLinkListItem">$link.source: $link.header</a>
                                #end
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" id="footer"></div>
</div>

<script type="text/javascript" src="components.js"></script>

</body>
</html>