<!DOCTYPE html>
<html>
<head>
    <title>Nachrichten DE</title>
    <link rel="shortcut icon" href="/favicon.png"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans" rel="stylesheet"/>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="/styles.css"/>
</head>
<body>


<div class="container" id="outer">
    <div class="container" id="title">
        <h1><a href="/">Nachrichten</a></h1>
    </div>
    <div class="container" id="articles">
        <div class="container">

            #set($idx = 0)
            #set($max = $articles.size() - 1)
            #set($row = 0)

            #macro(nextArticle)
                #if($idx <= $max)
                    #set($article = $articles[$idx])
                    #set($idx = $idx + 1)
                #end
            #end

            #foreach($index in [0..$max])
                #if($index > $idx)
                    #if($row % 3 == 0)
                        #parse("static/templates/row2.vm")
                    #elseif($row % 3 == 1)
                        #parse("static/templates/row3.vm")
                    #else
                        #parse("static/templates/row4.vm")
                    #end
                    #set($row = $row + 1)
                #end
            #end
        </div>
    </div>
    <div class="container" id="footer"></div>
</div>

<script type="text/javascript" src="components.js"></script>

</body>
</html>