<div class="row">
    #nextArticle()
    <div class="col-sm-3">
        <div class="article_wrapper" style="height: auto;"><a
                href="article/$article.url"
                class="article">
            <div class="afterArticle"><h4>$article.renderHeadline()</h4>
                <div class="description">$article.firstSentence()</div>
                <span class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
        #nextArticle()
        <div class="article_wrapper" style="height: auto;"><a
                href="article/$article.url"
                class="article">
            <div class="afterArticle"><h4>$article.renderHeadline()</h4>
                <div class="description">$article.firstSentence()</div>
                <span class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
    #nextArticle()
    <div class="col-sm-9">
        <div class="article_wrapper dark"><a
                href="article/$article.url"
                class="article">
            <div class="headlineImage"
                 style="background-image: url(&quot;$article.img&quot;); background-position: 46% 53%;"></div>
            <div class="afterArticle"><h2>$article.renderHeadline()</h2>
                <div class="description">$article.firstSentence()</div>
                <span class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
</div>
