<div class="row">
    #nextArticle()
    <div class="col-sm-3">
        <div class="article_wrapper light"><a
                href="article/$article.url"
                class="article">
            <div class="headlineImage"
                 style="background-image: url(&quot;$article.img&quot;); background-position: 47% 46%;"></div>
            <div class="afterArticle"><h3>$article.renderHeadline()</h3><span
                    class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
    #nextArticle()
    <div class="col-sm-3">
        <div class="article_wrapper light"><a
                href="article/$article.url"
                class="article">
            <div class="headlineImage"
                 style="background-image: url(&quot;$article.img&quot;); background-position: 46% 45%;"></div>
            <div class="afterArticle"><h3>$article.renderHeadline()</h3><span
                    class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
    #nextArticle()
    <div class="col-sm-3">
        <div class="article_wrapper light"><a
                href="article/$article.url"
                class="article">
            <div class="headlineImage"
                 style="background-image: url(&quot;$article.img&quot;); background-position: 51% 57%;"></div>
            <div class="afterArticle"><h3>$article.renderHeadline()</h3><span
                    class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
    #nextArticle()
    <div class="col-sm-3">
        <div class="article_wrapper light"><a
                href="article/$article.url"
                class="article">
            <div class="headlineImage"
                 style="background-image: url(&quot;$article.img&quot;); background-position: 46% 62%;"></div>
            <div class="afterArticle"><h3>$article.renderHeadline()</h3><span
                    class="sourceLink"><span>$article.links.size() Quellen</span></span></div>
        </a></div>
    </div>
</div>
